.card2 {
  background: #191c29;
  position: relative;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: var(--white);
}

.card2::before {
  content: "";
  width: 102%;
  height: 107%;
  border-radius: 5rem;
  background-image: linear-gradient(var(--rotate), #3c67e3, #23a6d5 43%, #5ddcff);
  position: absolute;
  z-index: -1;
  top: -3%;
  left: -1%;
  animation: spin 2.5s linear infinite;
}

.card2::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 10);
  left: 0px;
  right: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.6);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #3c67e3, #23a6d5 43%, #5ddcff);
  opacity: 1;
  margin: 0px auto;
  transition: opacity 0.5s ease 0s;
  animation: 2.5s linear 0s infinite normal none running spin;
}