.card,
.card2 {
  background: var(--bgColor);
  position: relative;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.card2 {
  border-radius: 5rem;
  color: var(--white);
}

.card::before,
.card2::before {
  content: "";
  width: 104%;
  height: 104%;
  border-radius: 50%;
  background-image: linear-gradient(var(--rotate), var(--rotGradient));
  position: absolute;
  z-index: -1;
  top: -1;
  left: -1;
  animation: spin 2.5s linear infinite;
}
.card2::before {
  width: 102%;
  height: 107%;
  border-radius: 5rem;
  top: -3%;
  left: -1%;
}

.card::after,
.card2::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 10);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.6);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), var(--rotGradient));
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}