.links {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 60vw;
  justify-content: center;
}

.link-items {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.7rem;
  color: var(--bgColor);
  border-radius: 5rem;
  gap: 2rem;
  box-shadow: var(--boxShadow);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

.link-items:hover {
  transform: scale(1.1);
}

#content {
  padding-top: 4vh;
}